#bg {
  -moz-animation: bg 60s linear infinite;
  -webkit-animation: bg 60s linear infinite;
  -ms-animation: bg 60s linear infinite;
  animation: bg 60s linear infinite;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);

  background: url("../images/florian-schneider-799KfBloSFQ-unsplash-small.jpg") bottom left repeat-x #348cb2;

  height: 100%;
  left: 0;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#header {
  max-width: 800px;
  margin: 0 auto;
}

#header nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

#header nav ul li {
  margin: 0 10px;
}